PORT=3001

DB_HOST=postres
DB_PORT=5432
DB_USER=adriana_pg
DB_PASS=your_postgres_password
DB_NAME=nest_pelis_pokemon

// El .env no debe subirse a GitHub, 
// ya que contiene datos sensibles como la contraseña de la base de datos.
// Por eso se incluye en el .gitignore.
// En su lugar, se sube un .env.example 
// con el mismo formato pero sin los datos reales. 
// Para usarlo, se debera copiar el .env.example a .env 
// y luego editarlo con los datos reales.
